In [46]:
import pandas as pd
import numpy as np
import os.path

In [47]:
data = pd.read_csv('cars.csv',encoding='latin-1')
data.head()

,Make,Model,CC,Used since,Km,Transmission,City,Color,Body Style,Fuel,...,Alloy wheels,Rear camera,GPS,Fog light,Rear spoiler,Cruise control,Power Seats,Central lock,Alarm,Price
0,Skoda,Rapid,NaN,2014.0,"89,000 Km",automatic,Nasr city,Black,NaN,gas,...,False,False,False,True,False,False,True,True,True,"225,000 EGP"
1,Skoda,Octavia A7,NaN,2015.0,"120,000 Km",automatic,Cairo,Blue,NaN,gas,...,True,True,True,True,True,True,True,True,True,"295,000 EGP"
2,Renault,Sandero,NaN,2016.0,"70,000 Km",automatic,El Haram,Red,NaN,gas,...,False,False,False,False,False,False,False,False,False,"200,000 EGP"
3,MG,ZS,NaN,2020.0,"21,000 Km",automatic,El Haram,Red,NaN,gas,...,True,False,True,True,False,True,True,True,True,"360,000 EGP"
4,MG,5,NaN,2021.0,"28,000 Km",automatic,El Haram,Red,NaN,gas,...,True,False,False,True,False,False,True,False,True,"340,000 EGP"

In [48]:
print(f'There are {data.shape[0]} rows and {data.shape[1]} columns')

There are 38611 rows and 51 columns

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38611 entries, 0 to 38610
Data columns (total 51 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Make                        37745 non-null  object
 1   Model                       37745 non-null  object
 2   CC                          19067 non-null  object
 3   Used since                  37745 non-null  float64
 4   Km                          37745 non-null  object
 5   Transmission                37745 non-null  object
 6   City                        37745 non-null  object
 7   Color                       37745 non-null  object
 8   Body Style                  21285 non-null  object
 9   Fuel                        37745 non-null  object
 10  Leather seats               38611 non-null  bool
 11  Closing mirrors             38611 non-null  bool
 12  Intelligent parking system  38611 non-null  bool
 13  Sunroof                     38611 non-null  bool
 14  Fabric brushes              38611 non-null  bool
 15  Air Conditioning            38611 non-null  bool
 16  Power Steering              38611 non-null  bool
 17  Remote Keyless              38611 non-null  bool
 18  Electric mirrors            38611 non-null  bool
 19  Front Power Windows         38611 non-null  bool
 20  Back Power Windows          38611 non-null  bool
 21  Tinted Glass                38611 non-null  bool
 22  CD Player                   38611 non-null  bool
 23  DVD Player                  38611 non-null  bool
 24  Bluetooth                   38611 non-null  bool
 25  Multifunction               38611 non-null  bool
 26  Cassette Radio              38611 non-null  bool
 27  AUX                         38611 non-null  bool
 28  CD Changer                  38611 non-null  bool
 29  USB Port                    38611 non-null  bool
 30  Anti - theft System         38611 non-null  bool
 31  Side Airbag                 38611 non-null  bool
 32  ABS                         38611 non-null  bool
 33  EPS                         38611 non-null  bool
 34  EBD                         38611 non-null  bool
 35  ESP                         38611 non-null  bool
 36  Sensors                     38611 non-null  bool
 37  Rear sensors                38611 non-null  bool
 38  Driver Airbag               38611 non-null  bool
 39  Passenger Airbag            38611 non-null  bool
 40  Front sensors               38611 non-null  bool
 41  Alloy wheels                38611 non-null  bool
 42  Rear camera                 38611 non-null  bool
 43  GPS                         38611 non-null  bool
 44  Fog light                   38611 non-null  bool
 45  Rear spoiler                38611 non-null  bool
 46  Cruise control              38611 non-null  bool
 47  Power Seats                 38611 non-null  bool
 48  Central lock                38611 non-null  bool
 49  Alarm                       38611 non-null  bool
 50  Price                       37745 non-null  object
dtypes: bool(40), float64(1), object(10)
memory usage: 4.7+ MB

there are many null values in our dataset , we have 40 Boolean Column and 10 objects

In [50]:
data.isnull().sum()

Make                            866
Model                           866
CC                            19544
Used since                      866
Km                              866
Transmission                    866
City                            866
Color                           866
Body Style                    17326
Fuel                            866
Leather seats                     0
Closing mirrors                   0
Intelligent parking system        0
Sunroof                           0
Fabric brushes                    0
Air Conditioning                  0
Power Steering                    0
Remote Keyless                    0
Electric mirrors                  0
Front Power Windows               0
Back Power Windows                0
Tinted Glass                      0
CD Player                         0
DVD Player                        0
Bluetooth                         0
Multifunction                     0
Cassette Radio                    0
AUX                               0
CD Changer                        0
USB Port                          0
Anti - theft System               0
Side Airbag                       0
ABS                               0
EPS                               0
EBD                               0
ESP                               0
Sensors                           0
Rear sensors                      0
Driver Airbag                     0
Passenger Airbag                  0
Front sensors                     0
Alloy wheels                      0
Rear camera                       0
GPS                               0
Fog light                         0
Rear spoiler                      0
Cruise control                    0
Power Seats                       0
Central lock                      0
Alarm                             0
Price                           866
dtype: int64

we have 866 null values in price Columns , let's drop it

In [51]:
data = data[data['Price'].notna()]

In [52]:
# checking 
data.isnull().sum()

Make                              0
Model                             0
CC                            18678
Used since                        0
Km                                0
Transmission                      0
City                              0
Color                             0
Body Style                    16460
Fuel                              0
Leather seats                     0
Closing mirrors                   0
Intelligent parking system        0
Sunroof                           0
Fabric brushes                    0
Air Conditioning                  0
Power Steering                    0
Remote Keyless                    0
Electric mirrors                  0
Front Power Windows               0
Back Power Windows                0
Tinted Glass                      0
CD Player                         0
DVD Player                        0
Bluetooth                         0
Multifunction                     0
Cassette Radio                    0
AUX                               0
CD Changer                        0
USB Port                          0
Anti - theft System               0
Side Airbag                       0
ABS                               0
EPS                               0
EBD                               0
ESP                               0
Sensors                           0
Rear sensors                      0
Driver Airbag                     0
Passenger Airbag                  0
Front sensors                     0
Alloy wheels                      0
Rear camera                       0
GPS                               0
Fog light                         0
Rear spoiler                      0
Cruise control                    0
Power Seats                       0
Central lock                      0
Alarm                             0
Price                             0
dtype: int64

In [74]:
def show_column_details(col):
    global data
    print(f'for feature {col} and it type is {data[col].dtype}')
    print(f'Number of Nulls is {data[col].isna().sum()}')
    print(f'Number of Unique Values is {len(data[col].unique())}')
    print(f'Random Value is {data[col][np.random.randint(data.shape[0])]}')
    print(f'Random Value is {data[col][np.random.randint(data.shape[0])]}')
    print(f'Random Value is {data[col][np.random.randint(data.shape[0])]}')
    print('\n==================================')

In [75]:
show_column_details('Make')

for feature Make and it type is object
Number of Nulls is 0
Number of Unique Values is 82
Random Value is Chevrolet
Random Value is Daewoo
Random Value is Peugeot

==================================

there are many categorical unique values in "Make" Columns therefore we will handle it useing label encoder

In [76]:
show_column_details('Model')

for feature Model and it type is object
Number of Nulls is 0
Number of Unique Values is 691
Random Value is 131
Random Value is Nubira 2
Random Value is Arrizo 5

==================================

In [77]:
show_column_details('CC')

for feature CC and it type is int32
Number of Nulls is 0
Number of Unique Values is 107
Random Value is 0
Random Value is 0
Random Value is 0

==================================

In [78]:
data['CC'].unique()

array([   0, 1600, 1400, 2000, 1500, 1300, 1200, 1000, 1100, 2500, 3000,
       4400, 4700, 2002, 1800,  900, 4000,  950, 3700, 3500,  800, 2300,
       2700, 2200, 3800, 1989, 3750, 1399, 3400, 4100, 4800, 3646, 1250,
       2800, 1398, 4500, 3200, 5700, 2600, 3600, 2900, 6000, 2400, 5200,
       1599, 1716, 1116, 1900, 2019, 1998, 4200, 1999, 1550, 1323,  995,
       1598, 1897, 1489, 3300, 1992, 5600, 3190,  850, 1139, 2127, 1295,
       1700, 5400, 1490,  970, 5800, 1050, 1850, 1572, 2609, 4570, 1970,
       1150, 5000, 4600, 1595, 5900, 2100, 3100, 1350, 3181, 1993, 1242,
       3797, 1248, 1450, 2750,  999, 1320, 4300, 1498, 1499, 1360, 1971,
       3450, 1690, 5300, 4571, 1990, 1570, 1309, 1330])

In [79]:
data['CC'] = data['CC'].astype(str).apply(lambda x :x.replace('CC',""))

In [80]:
data[data['CC'] == 'nan'] = 0
data['CC'] = data['CC'].astype(int)

In [81]:
data['Is_CC'] = data['CC'].apply(lambda x:True if x != 0  else False)

In [82]:
data['Is_CC'].value_counts()

True     19067
False    18678
Name: Is_CC, dtype: int64

In [84]:
show_column_details('Km')

for feature Km and it type is object
Number of Nulls is 0
Number of Unique Values is 605
Random Value is 80,000 Km
Random Value is 0
Random Value is 9,000 Km

==================================

In [87]:
data['Km'].value_counts()

0             18678
0 Km           4865
200,000 Km     1385
150,000 Km      870
130,000 Km      527
              ...
3,650 Km          1
96,500 Km         1
176,500 Km        1
22 Km             1
1,600 Km          1
Name: Km, Length: 605, dtype: int64

In [ ]:
def replaceList(reList):

In [92]:
data['Km'] = data['Km'].astype(str).apply(lambda x :x.replace('KM',''))

TypeError: replace() argument 1 must be str, not list

In [93]:
data['Km'] = data['Km'].astype(int)

ValueError: invalid literal for int() with base 10: '63,000 '

In [94]:
show_column_details('Transmission')

for feature Transmission and it type is object
Number of Nulls is 0
Number of Unique Values is 5
Random Value is 0
Random Value is automatic
Random Value is automatic

==================================

In [96]:
data['Transmission'].value_counts()

0            18678
manual       10716
automatic     8348
CVT              2
DSG              1
Name: Transmission, dtype: int64

In [97]:
show_column_details('City')

for feature City and it type is object
Number of Nulls is 0
Number of Unique Values is 99
Random Value is Damietta
Random Value is Damietta
Random Value is Alexandria

==================================

In [98]:
show_column_details('Color')

for feature Color and it type is object
Number of Nulls is 0
Number of Unique Values is 25
Random Value is Red
Random Value is 0
Random Value is White

==================================

In [99]:
show_column_details('Body Style')

for feature Body Style and it type is object
Number of Nulls is 1
Number of Unique Values is 13
Random Value is 0
Random Value is 0
Random Value is Sedan

==================================

In [100]:
data['Body Style'].value_counts()

0                     18678
Sedan                 13338
Hatchback              2764
4x4                    1270
SUV                     489
Van                     474
MiniVans                349
Pick up                 295
Coupe                    63
Microbus                 19
Medium truck jumbo        4
Mini Pick up              1
Name: Body Style, dtype: int64

In [101]:
show_column_details('Fuel')

for feature Fuel and it type is object
Number of Nulls is 0
Number of Unique Values is 6
Random Value is gas
Random Value is gas
Random Value is Hybrid

==================================

In [102]:
data['Fuel'].value_counts()

gas            18869
0              18678
natural gas       76
diesel            74
Hybrid            45
Electric           3
Name: Fuel, dtype: int64